html {
    scroll-behavior: smooth;
    scroll-padding-top: 250px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: "Courier Prime", monospace;
    overflow-x: hidden;
    z-index: 998;
    user-select: none;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 999;
  background-color: #f5f5f5; 
  transition: background-color 0.3s ease;   
}


nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    width: 100%;
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
}

nav ul > .links > div {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}


nav ul > .hamburger {
    flex-direction: column;
    gap: 4px;
    width: 30px;
    align-items: center;
    display: none;
    position: relative;
}

nav ul > .hamburger > span {
    height: 2px;
    width:100%;
    background-color: #000;
    border-radius: 1px;
    transition: all .45s ease;
}

nav ul > .hamburger:has(input:checked) > span:first-child {
    transform: translateY(6px) rotate(135deg);
}

nav ul > .hamburger:has(input:checked) > span:nth-child(2) {
    width: 0px;
    opacity: 0;
}

nav ul > .hamburger:has(input:checked) > span:nth-child(3) {
    transform: translateY(-6px) rotate(-135deg);
    opacity: 0.8;
}

nav ul > .hamburger > input {
    position: absolute;
    top:0;left:0;height: 100%;width: 100%;
    opacity: 0;
}

.hamburger:has(input:checked) ~ .links {
    max-height: 100vh;
}

nav li a {
    color: #1d1d1d;
    font-size: 1rem;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

nav li a:hover {
    color: #222;
    transition: 0.3s ease-in-out;
}

.logo_nav img {
    width: 45px;
    height: 45px;
    opacity: 0.9;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.24));
}

.logo_nav img:hover {
    opacity: 1;
    transition: 0.5s ease;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.594));
}

.nav_instagram a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav_instagram a:hover {
    background-color: #222;
    color: #fff;
    transition: 0.3s ease-in-out;
}


.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_content {
    background: url("https://martinlopezramos.github.io/hero.webp");
    height: 85vh;
    width: 95%;
    margin-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    animation-name: fadeIn_up;
    animation-timing-function: ease;
    animation-duration: 1s;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.459);
    z-index: 2;
    position: relative;
}

.hero_content p {
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.148);
    font-size: 64px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.hero_content a {
    position: relative;
    color: white;
    font-size: 20px;
    margin-left: 25px;
    padding-right: 2px;
    padding-left: 2px;
    text-decoration: none;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    margin-bottom: 20px;
    display: inline-block;
    width: fit-content;
}

.hero_content a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.hero_content a:hover::after {
    transform: scaleX(1);
}

@keyframes fadeIn_up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    90% {
        opacity: 0.9;
        transform: translateY(0);
    }
    to {
        opacity: 1;
    }
}

#typewriter-container {
  font-size: 40px;
  white-space: pre;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

#cursor {
  margin-left: 2px;
  animation: blink 0.8s step-end infinite;
  user-select: none;
  color: gray;
}

.photos {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.photos_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin: 20px 0 20px 0;
}

.item {
  height: 800px;
  width: 500px;    
  transition: .3s ease;
  border: none;
}

.item:hover {
  box-shadow: 10px 10px 0 black;
  transform: translateY(-5px) translateX(-5px);
}

.item1 {
  background: url('https://martinlopezramos.github.io/photos2.webp');
  background-size: cover;
  background-position: center;
}

.item2 {
  background: url('https://martinlopezramos.github.io/photos1.webp');
  background-size: cover;
  background-position: center;
}

.item3 {
  background: url('https://martinlopezramos.github.io/photos3.webp');
  background-size: cover;
  background-position: center;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 0 40px;
}

.about_text {
  flex: 1;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.about_text p {
  width: 55%;
  font-size: 20px;
  position: relative;
}

.about_text h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  position: relative;
}

.about_photo {
  flex: 1;
  width: 45%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about_photo img {
  width: 80%;
  height: auto;
  z-index: 1;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
}

.products h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 120px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.product_card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 190px;
}

.carousel-wrapper {
  flex: 1 1 400px;
  overflow: hidden;
  position: relative;
}

.accessories_carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 400%;
}

.photo {
  flex: 0 0 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.74);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn:hover {
    color: white;
    transition: .2s ease;
    background-color: rgba(0, 0, 0, 0.511);
}

.carousel-btn.prev { left: 10px; }
.carousel-btn.next { right: 10px; }


.carousel-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.carousel-dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-dots span.active {
  background-color: white;
}

.accessories_others {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Courier Prime", monospace;
}

.accessories_others h3 {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  margin: 0;
  margin-bottom: 20px;
}

.accessories_others h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.accessories_others select {
  padding: 10px;
  background-color: #eee;
  border: none;
  font-size: 14px;
  font-family: "Courier Prime", monospace;
  max-width: 400px;
}

.accessories_others p {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0;
  text-align: left;
  width: 100%;
}

.add_to_cart {
  background-color: black;
  color: white;
  font-family: "Courier Prime", monospace;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.add_to_cart:hover {
  background-color: #222;
}

.acc_carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 400%;
}

.acc_photo {
  flex: 0 0 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.acc_photo1 { background: url("https://martinlopezramos.github.io/druhy.webp"); background-repeat: no-repeat; background-size: contain;}
.acc_photo2 { background: url("https://martinlopezramos.github.io/about2.webp"); background-repeat: no-repeat; background-size: contain;}
.acc_photo3 { background: url("https://martinlopezramos.github.io/treti.webp"); background-repeat: no-repeat; background-size: contain;}

.acc-carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.74);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.acc-carousel-btn:hover {
  color: white;
  transition: .2s ease;
  background-color: rgba(0, 0, 0, 0.511);
}

.acc-carousel-btn.prev { left: 10px; }
.acc-carousel-btn.next { right: 10px; }

.acc-carousel-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.acc-carousel-dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.acc-carousel-dots span.active {
  background-color: white;
}


.cloth_carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 400%;
}

.cloth_photo {
  flex: 0 0 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.cloth_photo1 { background: url("https://martinlopezramos.github.io/gay8.webp"); background-repeat: no-repeat; background-size: contain;}
.cloth_photo2 { background: url("https://martinlopezramos.github.io/el_mastodonte.webp"); background-repeat: no-repeat; background-size: contain;}
.cloth_photo3 { background: url("https://martinlopezramos.github.io/short22-1.webp"); background-repeat: no-repeat; background-size: contain;}

.cloth_photo11 { background: url("https://martinlopezramos.github.io/gay3.webp"); background-repeat: no-repeat; background-size: contain;}
.cloth_photo22 { background: url("https://martinlopezramos.github.io/gay4.webp"); background-repeat: no-repeat; background-size: contain;}
.cloth_photo33 { background: url("https://martinlopezramos.github.io/long2-1.webp"); background-repeat: no-repeat; background-size: contain;}

.cloth_photo111 { background: url("https://martinlopezramos.github.io/gay5.webp"); background-repeat: no-repeat; background-size: contain;}
.cloth_photo222 { background: url("https://martinlopezramos.github.io/gay6.webp"); background-repeat: no-repeat; background-size: contain;}
.cloth_photo333 { background: url("https://martinlopezramos.github.io/mikina32-1.webp"); background-repeat: no-repeat; background-size: contain;}

.cloth-carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.74);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.cloth-carousel-btn:hover {
  color: white;
  transition: .2s ease;
  background-color: rgba(0, 0, 0, 0.511);
}

.cloth-carousel-btn.prev { left: 10px; }
.cloth-carousel-btn.next { right: 10px; }

.cloth-carousel-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.cloth-carousel-dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cloth-carousel-dots span.active {
  background-color: white;
}

.cart {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #eaeaea;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 100px rgba(0, 0, 0, 0.055);
  position: fixed;
  z-index: 999;
  top: 90%;
  right: 5px;
  transform: translate(0, -50%);
  transition: all .3s ease;
  border: 2px solid rgba(69, 69, 69, 0.114);
}

.cart a {
  text-decoration: none;
  color: inherit;
}


.cart:hover {
  width: 120px;
  justify-content: flex-start; 
  gap: 10px;
  padding: 0 20px;
}

.cart_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_icon img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.cart_counter { 
  font-size: 15px;
  color: #333;
  display: none;          
  white-space: nowrap;
  text-decoration: none;
}

.cart:hover .cart_counter {
  display: block;
}

#cart {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

#cart.visible {
  opacity: 1;
  pointer-events: auto;
}

footer {
  height: 300px;
  width: 100%;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
}

.footer_left h2 {
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.footer_left_socials {
  display: flex;
  gap: 30px;
}

.Btn {
  width: 45px;
  height: 45px;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all .3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
}

.social-link {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  z-index: 1001;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none; /* Odstraní podtržení odkazu */
}

.icon-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.background-accent {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.social-link:hover .background-accent {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.social-link:hover .icon-wrapper {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}


.footer_right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50px;
}

.footer_right h2 {
  color: #9b9b9b;
  font-size: 20px;
  font-weight: 300;
}

.footer_right_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_right_links a {
  color: #000;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 3px;             
  height: 12px;  
  margin: 0;
  padding: 0;           
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000;   
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.sub_btn_footer {
  background-color: #dfdede;
  width: 100vw;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75rem;
}

.sub_btn_footer a {
  color: black;
}

.text {
  font-size: 17px;
}

.sub_btn_footer form {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.6rem;
}

.sub_btn_footer form p {
  font-size: 15px;
  grid-column: 1 / -1;
}

.sub_btn_footer form input {
  padding: 14px;
  background-color: #eee;
  border: none;
  font-size: 16px;
  font-family: "Courier Prime", monospace;
  width: 25rem;
}

.sub_btn_footer form button {
  background-color: black;
  color: white;
  font-family: "Courier Prime", monospace;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.sub_btn_footer form button:hover {
  background-color: #222;
}

.sub_about {
  display: none;
}

.info_info {
  background-color: #c9c9c9;
  width: fit-content;
  height: fit-content;
  padding: 10px 10px 5px 10px;
  display: none;
}

.info2 {
  background-color: #c9c9c9;
  width: fit-content;
  height: fit-content;
  padding: 10px 10px 5px 10px;
  display: none;
}

@media (max-width: 600px) {
  .about {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .about_text, .about_photo {
    width: 100%;
  }

  .about_text h2,
  .products h2 {
    font-size: 24px;
    text-align: center;
    word-break: break-word;
  }

  .about_text p {
    width: 90%;
    font-size: 16px;
  }

  .products h2 {
    margin-bottom: 60px; /* zmenšeno z 120px */
  }

  /* .product_card {
    display: block;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 150px;
  } */

  .accessories_others h3 {
    font-size: 24px;
    text-align: center;
  }

  .accessories_others h4 {
    font-size: 18px;
    text-align: center;
  }

  .accessories_others select {
    width: 210px;
  }

  .add_to_cart {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 475px) {
  .add_to_cart {
    width: 80%;
  }
}

@media (max-width: 325px) {
  .add_to_cart {
    width: 100%;
  }
}

@keyframes houpani {
  0%   { 
    transform: rotate(0deg);
    width: 24px;
    height: 24px;
  }
  25%  { 
    transform: rotate(-20deg);
    width: 27px;
    height: 27px;
  }
  50%  { 
    transform: rotate(20deg);
    width: 30px;
    height: 30px;
  }
  75%  { 
    transform: rotate(-20deg);
    width: 27px;
    height: 27px;
  }
  100% {
    transform: rotate(0deg);
    width: 24px;
    height: 24px;
  }
}

.houpat {
  animation: houpani 0.6s ease;
}





